.alert {
    min-width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24) !important ;
}
.alert:hover {
    box-shadow: 0 3px 6px rgba(#000, .16), 0 3px 6px rgba(#000, .23) !important;
}

.alert p {
    padding: 0;
    margin: 0;
}

.alert i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 24px;
}

.close-alert{
    -webkit-appearance: none;
    position: relative;
    float: right;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    filter: alpha(opacity=40);
    opacity: .4;
}

.close-alert:hover {
    filter: alpha(opacity=70);
    opacity: .7;
}