.dataTables_paginate ul {
    list-style : none !important;
    display: flex !important;
    flex-wrap: wrap !important;
}
.dataTables_paginate ul li {
    margin-right : 10px !important;
}
.dataTables_paginate ul li a {
    color: #00bcd4;
}

.dataTables_paginate ul li a:hover {
    color: #white;
}